In [3]:
import pandas as pd 
import sqlalchemy as sa
from pandas import DataFrame
from pandas import read_json, read_csv
import json
from sqlalchemy import create_engine

In [4]:
# 1
raw_dep = pd.read_table ('C://python_data//raw-department.txt', sep='-')
dep_bud_1 = pd.read_json ('C://python_data//raw-department-budget.txt', lines=True)
dep_bud_2 = pd.read_json('C://python_data//raw-department-budget2.txt', orient='records')

print(raw_dep,'\n')
print(dep_bud_1,'\n')
print(dep_bud_2)

   department_id department_name
0              1         General
1              2   Sales Support
2              3              IT

   sub_dep_id           sub_dep_name  department_id  budget
0           1               managers              1    3000
1           2              managers2              1    1500
2           1     sales support john              2    2000
3           2      sales support joe              2    1000
4           3  sales support johnson              2    2500
5           4  sales support eduards              2    2500

   sub_dep_id    sub_dep_name  department_id  budget
0           1    IT purchases              3    2000
1           2  IT maintenance              3    1500
2           3        IT other              3    1000

In [10]:
# 2
# Union between dep_bud_1 and dep_bud_2 tables

dep_bud_union = pd.concat([dep_bud_1, dep_bud_2],ignore_index = True)

In [13]:
# 3
# Connection of the two tables and calculating the budget for each department

DepBudgetDetailed = pd.merge(dep_bud_union, raw_dep, on='department_id', how='outer')
TotalDepBudget = DepBudgetDetailed.groupby(["department_id","department_name"])["budget"].sum().reset_index(name='budget')
print(TotalDepBudget)

   department_id department_name  budget
0              1         General    4500
1              2   Sales Support    8000
2              3              IT    4500

In [25]:
# 4
# create an engine and transfer the dataframe to chinook database

engine = create_engine('postgresql://postgres:postgres@localhost/chinook')
TotalDepBudget.to_sql(name='department_budget', con=engine, schema='stg', if_exists='replace', index=False)

3